#about-top-header {
	position: relative;
	background: url('../img/inner_header.jpg') no-repeat center;
	background-size: cover;
	padding:180px 0 120px 0;

}


#about-sdna-2 {
	position: relative;
	margin-top: 32px;
	.large-12.small-12.medium-12 {
		p {
			@extend .lfnt;
		}
	}
}


#about-sdna-3 {
	position: relative;
	margin-top: 28px;
	.large-6.small-12.medium-6 {
		h1 {
			@extend .h1;
			margin-bottom: 18px;
			@media only screen and (max-width: 40em) { 
				text-align: center;
				font-size: 1.25em;
			}
		}
		p {
			
			@extend .bfnt;
			margin-bottom: 10px;
			text-align: justify;
		}

		figure {
			border-bottom: 15px solid $logo-blue;
		}
	}
}


#about-sdna-4 {
	position: relative;
	margin-top: 32px;
	.large-12.small-12.medium-12 {
		h3 {
			@extend .h3;
			@media only screen and (max-width: 40em) { 
				text-align: center;
				font-size: 1.25em;
			}
		}
		p {
			@extend .bfnt;

		}
	}
}

#about-sdna-5 {
	position: relative;
	margin-top: 12px;
	.large-4.small-12.medium-4 {
		.value-box {
			text-align: center;
			padding:82px 0;
			@media only screen and (max-width: 40em) { 
				text-align: center;
				padding:42px 0;
			}
		}
		p {
			@extend .bfnt;
			margin-top: 12px;

		}

		.box-blue {
			background: $blue2;
			@include transition(all .5s ease);
			&:hover {
				background: darken($blue2,5%);
			}
		}

		.box-blue:before {
			content: "\e60a";
		}

		.box-blue:before {
			font-family: 'icomoon';
			speak: none;
			font-size: 102px;
			line-height: 90px;
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;
			display: block;
			-webkit-font-smoothing: antialiased;
			color: $w;
		}

		.box-orange {
			background: $orange;
			@include transition(all .5s ease);
			&:hover {
				background: darken($orange,5%);
			}
		}


		.box-orange:before {
			content: "\e611";

		}

		.box-orange:before {
			font-family: 'icomoon';
			speak: none;
			font-size: 102px;
			line-height: 90px;
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;
			display: block;
			-webkit-font-smoothing: antialiased;
			color: $w;
		}




		.box-red {
			background: $red;
			@include transition(all .5s ease);
			&:hover {
				background: darken($red,5%);
			}
		}

		.box-red:before {
			content: "\e605";
		}

		.box-red:before {
			font-family: 'icomoon';
			speak: none;
			font-size: 102px;
			line-height: 90px;
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;
			display: block;
			-webkit-font-smoothing: antialiased;
			color: $w;
		}
	}
}


#about-sdna-6 {
	position: relative;
	margin-bottom: 50px;
	margin-top: 60px;
	.large-9.small-12.medium-9 {
		h2 {
			@extend .h2;			
		}
	}
	.large-3.small-12.medium-3 {
		a {
			padding:10px 35px;
			background: $logo-blue;
			@extend .bfnt;
			color: $w;
			font-size: 1em;
			padding:6px 25px;
			border:2px solid $logo-blue;
			@include transition(all .5s ease);
			&:hover {
				background: rgba($logo-blue,0);
				box-shadow: inset 0 0 0 2px $logo-blue;
				color: $logo-blue;
				backface-visibility: hidden;
				transition-property: background;
			}

		}
	}

	.large-12.small-12.medium-12 {
		p {
			@extend .bfnt;
		}
	}

	.large-3.small-12.medium-3 {
		figure {
			figcaption {
				margin-top: 12px;
			}
		}
	}
}


#about-sdna-7 {
	position: relative;
	margin-bottom: 60px;
	margin-top: 32px;
	.row {
		padding-top: 30px;
		border-top: 2px solid #f7f7f7;
	}
	.large-12.small-12.medium-12 {
		h4 {
			@extend .h4;
		}
		p {
			margin-bottom: 30px;
			@extend .bfnt;
		}
		a {
			padding:10px 35px;
			background: $logo-blue;
			@extend .bfnt;
			color: $w;
			font-size: 1em;
			padding:6px 25px;
			border:2px solid $logo-blue;
			@include transition(all .5s ease);
			&:hover {
				background: rgba($logo-blue,0);
				box-shadow: inset 0 0 0 2px $logo-blue;
				color: $logo-blue;
				backface-visibility: hidden;
				transition-property: background;
			}

		}
	}
}

/**********global offices***/


#global-offices {
	position: relative;
	.large-4.small-4.medium-4 {
		p {
			@extend .bfnt;
		}
		.cs {
				width: 25px;
				height: 25px;
				background: #085b7d;
				display: inline-block;
				margin-top: 20px;
			}
			.kc {
				width: 25px;
				height: 25px;
				background: #fe4d35;
				display: inline-block;
				margin-top: 20px;
			}
				.dc {
				width: 25px;
				height: 25px;
				background: #841906;
				display: inline-block;
				margin-top: 20px;
			}
	}
}
#sdna-mapdiv {
	width: 100%;
	height: 800px;
	margin:60px 0;
}














