#contact-top-header {
	position: relative;
	background: url('../img/inner_header.jpg') no-repeat center;
	background-size: cover;
	padding:180px 0 120px 0;
}

#contact-sdna-1 {
	margin-top: 60px;
	position: relative;
	.row {
		padding-bottom: 60px;
		border-bottom: 2px solid #f7f7f7;
	}
	.large-6.small-12.medium-6 {
		#map-container {
			background: $logo-blue;
			height: 500px;
			border-bottom: 6px solid $logo-blue;
			#map-canvas {
				height: 100%;
			}
		}


		.mark-icon:before {
			content: "\e608";
		}

		.mark-icon:before {
			font-family: 'icomoon';
			speak: none;
			font-size: 102px;
			line-height: 90px;
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;
			display: block;
			-webkit-font-smoothing: antialiased;
			color: $orange;
		}


		.place-title {
			@extend .lfnt;
		}
		.address {
			@extend .bfnt;
			margin:20px 0;
		}


		.email-icon {
			p {
				@extend .bfnt;
				margin: 10px 0;
			}
		}

		.email-icon:before {
			content: "\e60d";
		}

		.email-icon:before {
			font-family: 'icomoon';
			speak: none;
			font-size: 42px;
			line-height: 26px;
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;
			display: block;
			-webkit-font-smoothing: antialiased;
			color: $logo-blue;
		}




		.phone-icon {
			margin: 20px 0;
			p {
				@extend .bfnt;
				margin:10px 0;
			}
		}

		.phone-icon:before {
			content: "\e60c";
		}

		.phone-icon:before {
			font-family: 'icomoon';
			speak: none;
			font-size: 42px;
			line-height: 26px;
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;
			display: block;
			-webkit-font-smoothing: antialiased;
			color: $logo-blue;
		}


	}
}



#contact-sdna-2 {
	position: relative;
	margin-top: 60px;
	margin-bottom: 120px;
	padding-bottom: 30px;
	background: url('../img/contact-1.png') no-repeat;
	background-size: cover;

	.large-9.small-12.medium-9 {
		margin-bottom: 60px;
		.sending {
			h2 {
				@extend .h2;
				color: $wa;
				font-size: 1.25em;
			}
		}
		
		h2 {
			@extend .h2;
			color: $wa;
		}

		p {
			@extend .bfnt;
			margin:16px 0;
		}

		form {
			input {
				background: #f7f7f7;
				@extend .bfnt;
				color: $grey;
				border: 1px solid $wa;
			}
			label {
				@extend .bfnt;
			}
			textarea {
				height: 120px;
				@extend .bfnt;
				background: #f7f7f7;
				border: 1px solid $wa;
			}
			button {
				padding:10px 35px;
				background: $logo-blue;
				@extend .bfnt;
				color: $w;
				font-size: 1em;
				padding:6px 25px;
				border:2px solid $logo-blue;
				@include transition(all .5s ease);
				&:hover {
					background: rgba($logo-blue,0);
					box-shadow: inset 0 0 0 2px $logo-blue;
					color: $logo-blue;
					backface-visibility: hidden;
					transition-property: background;
				}
			}
		}



	}

}


#contact-sdna-3 {
	position: relative;
	padding:30px 0;
	margin: 60px 0 60px 0;
	background: $wa;
	.large-12.small-12.medium-12 {
		h3 {
			@extend .h3;
			color: $w;
		}
		ul {
			display: table;
			margin:0 auto;
			li {
				margin-right: 20px;
				a {
					i {
						color: $w;
						font-size: 1.875em;
						@include transition(all .5s ease);
						&:hover {
							color: $orange;
						}
					}
				}
			}
		}
	}
}












