@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,500,700);
//font-family: 'Roboto', sans-serif;


$logo-blue:#085b7d;

$red:#c0392b;

$blue2:#0691c9;

$orange:#e67e22;

$wa:#34495e;

$w:#ffffff;

$grey:#2b2b2b;

$brown:#331419;


.bfnt {
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	font-weight: 400;
	color: #2b2b2b;
}

.lfnt {
	font-family: 'Roboto', sans-serif;
	font-size: 1.75em;
	font-weight: 300;
	color: #2b2b2b;
}


.h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 1.875em;
	color: #2b2b2b;
	font-weight: 500;
}

.h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 1.75em;
	color: #2b2b2b;
	font-weight: 500;
}

.h3 {
	font-family: 'Roboto', sans-serif;
	font-size: 1.625em;
	color: #2b2b2b;
	font-weight: 500;
}

.h4 {
	font-family: 'Roboto', sans-serif;
	font-size: 1.5em;
	color: #2b2b2b;
	font-weight: 500;
}

.h5 {
	font-family: 'Roboto', sans-serif;
	font-size: 1.375em;
	color: #2b2b2b;
	font-weight: 500;
}

.h6 {
	font-family: 'Roboto', sans-serif;
	font-size: 1.25em;
	color: #2b2b2b;
	font-weight: 500;
}

@mixin transition($args...) {
	-webkit-transition: $args;
	-moz-transition: $args;
	-ms-transition: $args;
	-o-transition: $args;
	transition: $args;
}


a:hover, a:focus {
	color: $w;
}


footer {
	position: relative;
}

@import "navigation";
@import "icm";
@import "sidebar";
@import "slick";
@import "home";
@import "about";
@import "services";
@import "contact";
























