#topheader {
	z-index: 2;
	width: 100%;
	background: rgba(0,0,0,0);
}

#topheader {
	a{
		color: #fff;
	}
	i {
		color: #fff;
	}
}

#topheader.scrolling {
	background: #fff;
	-webkit-backface-visibility: hidden;
	@include transition(all .5s ease);
	ul {
		li {
			a {
				color: #2b2b2b;
				i {
					color: $red;
				}
			}

		}
	}
}

.fullwidthsdna {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	max-width: initial;
}



.wrap { 
	position: relative;
	position: relative;
	background-color: red;
}


#sdna-slider {
	position: relative;
	.orbit-container {
		z-index: 1;
	}
	.orbit-timer {
		display: none;
	}

	.orbit-container .orbit-prev span,
	.orbit-container .orbit-next span {
		color: $w;
		border: none;
		font-size: 100px;
		text-indent: 0;
		@include transition(color .5s ease);
		&:hover {
			color: darken($w,45%);
		}
	}

	.orbit-container .orbit-prev {
		left: 5%;
		outline: 0;
		&:hover {
			background: none;
		}
	}

	.orbit-container .orbit-prev span:before {
		content: url('../img/chev-left.png');
		display: block;
	}

	.orbit-container .orbit-next {
		right: 5%;
		outline: 0;
		&:hover {
			background: none;
		}
	}

	.orbit-container .orbit-next span:before {
		content: url('../img/chev-right.png');
		display: block;
	}


}



#sdna-icons-fa {
	position: relative;
	margin-top: 26px;
	margin-bottom: 70px;
	@media only screen and (max-width: 40em) {
		margin-bottom: 30px;
	}
	h2 {
		@extend .lfnt;
		margin-bottom: 62px;
		@media only screen and (max-width: 40em) { 
			margin-bottom: 30px;
			font-size: 1.25em;
		}
	}
	p {
		@extend .bfnt;
		font-size: 1em;
	}

}



#sdna-icons-fa {
	.large-2.small-12.medium-2 {
		a {
			outline: none;
		}


		a:hover, a:focus {
			color: #fff;
		}
	}
}


#sdna-home-about {
	position: relative;
	margin-top: 35px;
	padding-top: 50px;
	padding-bottom: 20px;
	height: auto;
	background: url(../img/home-bg-1.png) #f7f7f7 no-repeat center;
	background-size: cover;
	.large-6.small-12.medium-6 {
		margin-bottom: 25px;
		h2 {
			@extend .h2;
			@media only screen and (max-width: 40em) {
				font-size: 1.25em;
			}
		}
		.lnt {
			@extend .lfnt;
			margin-top: 8px;
			@media only screen and (max-width: 40em) { 
				font-size: 1.25em;
			}
		}
		p {
			@extend .bfnt;
			margin-top: 8px;
		}
		a {
			margin-top: 15px;
			margin-right: 10px;		
			padding:10px 35px;
			background: $logo-blue;
			@extend .bfnt;
			color: $w;
			font-size: 1em;
			padding:6px 25px;
			border:2px solid $logo-blue;
			@include transition(all .5s ease);
			&:hover {
				background: rgba($logo-blue,0);
				box-shadow: inset 0 0 0 2px $logo-blue;
				color: $logo-blue;
				backface-visibility: hidden;
				transition-property: background;
			}
		}


	}
}

#sdna-customers {
	position: relative;
	margin-top: 35px;
	padding-top: 20px;
	margin-bottom: 55px;
	@media only screen and (max-width: 40em) {
		margin-bottom: 20px;
	}
	h2 {
		@extend .h2;
		background: $blue2;
		color: $w;
		padding:8px 0;
		border-bottom: 8px solid darken($blue2, 5%);
		@media only screen and (max-width: 40em) {
			font-size: 1.25em;
		}
	}
	.customers-light {
		@extend .lfnt;
		margin:15px 0 10px 0;
		@media only screen and (max-width: 40em) { 
			font-size: 1.25em;
		}
	}
	p {
		@extend .bfnt;
		margin-bottom: 35px;
		@media only screen and (max-width: 40em) { 
			margin-bottom: 25px;
		}
	}
	.clients-logo {
		.large-2.small-6.medium-2 {
			margin-bottom: 20px;
			.logo-inner {
				background: $blue2;
				height: 105px;
			}
		}
	}
}

#sdna-homepage-contact {
	position: relative;
	margin-bottom: 90px;
	@media only screen and (max-width: 40em) { 
		margin-bottom: 40px;
	}
	padding-top: 50px;
	padding-bottom: 50px;
	background: url('../img/contact-1.png') no-repeat center;
	background-size: cover;
	.sending {
		h2 {
			@extend .h2;
			color: $logo-blue;
		}
	}
	h2 {
		@extend .h2;
		color: $grey;
		margin-bottom: 60px;
	}
	#sdna_home_contact {
		margin-top: 40px;
		label {
			color: #f7f7f7;
			@extend .bfnt;

			small {
				color: $w;
			}
			input {
				height: 42px;
				@extend .bfnt;
				color: #868686;
				border:1px solid $wa;
			}
			textarea {
				height: 158px;
				border:1px solid $wa;
			}
		}

		.textare-a {

			@media only screen and (max-width: 40em) { 
				padding:0 20px;
			}
		}

		button {
			padding:10px 35px;
			background: $logo-blue;
			@extend .bfnt;
			color: $w;
			font-size: 1em;
			padding:6px 25px;
			border:2px solid $logo-blue;
			@include transition(all .5s ease);
			&:hover {
				background: rgba($logo-blue,0);
				box-shadow: inset 0 0 0 2px $logo-blue;
				color: $logo-blue;
				backface-visibility: hidden;
				transition-property: background;
			}
		}
		input:focus {
			border:2px solid $orange;
		}
		textarea:focus {
			border:2px solid $orange;
		}
		input:-webkit-autofill {
			-webkit-box-shadow: 0 0 0px 1000px $w inset;
		}

	}



}


footer {
	position: relative;
	background: #E5ECE9;
	padding-top: 35px;
	@media only screen and (max-width: 40em) { 
		text-align: center;
	}
	.large-3.small-12.medium-3{
		ul {

			margin-top: 20px;
			li {
				a {
					i {
						color: #2b2b2b;
						font-size: 1.75em;
						@include transition(color .5s ease);
						&:hover {
							color: $logo-blue;
						}
					}
				}
			}
		}
	}
	.large-4.small-12.medium-4 {
		ul {
			li {
				a {
					@extend .bfnt;
					color: $grey;
					font-size: 1em;
				}
			}
		}
	}
	.large-12.medium-12.small-12 {
		margin-top: 25px;
		.copy {
			@extend .bfnt;
			font-size: 0.875em;
			background: #E5ECE9;
		}
	}
}


/******************Career******************/


#career-top-header {
	position: relative;
	background: url('../img/inner_header.jpg') no-repeat center;
	background-size: cover;
	.large-12.small-12.medium-12 {
		padding:200px 0 120px 0;
		@media only screen and (max-width: 40em) { 
			text-align: center;
		}
		h1 {
			@extend .h1;
			color: $w;
		}
	}
}


#sdna-career-1 {
	margin-bottom: 30px;
	position: relative;
	margin-top: 36px;
	.large-12.small-12.medium-12 {
		h2 {
			@extend .h2;
			color: $logo-blue;
		}
		p {
			@extend .bfnt;	
		}
	}
}



#sdna-career-2 {
	min-height: 500px;
	ul {
		display: table;
		margin: 0 auto;
	}
	.tabs-content {
		margin-top: 26px;
	}
}


.tabs dd > a, .tabs .tab-title > a {
  padding: 10px 25px;
	@extend .bfnt;
	font-size: 1.5em;
	border-top: 2px solid $logo-blue;
	border-bottom: 2px solid $logo-blue;
	margin: 0 auto;
}

.tabs dd > a:hover, .tabs .tab-title > a:hover {
	background: lighten($logo-blue,5%);
	color: $w;
}











