@font-face {
	font-family: 'icomoon';
	src:url('../fonts/sdna/icomoon.eot?1il776');
	src:url('../fonts/sdna/icomoon.eot?#iefix1il776') format('embedded-opentype'),
		url('../fonts/sdna/icomoon.woff?1il776') format('woff'),
		url('../fonts/sdna/icomoon.ttf?1il776') format('truetype'),
		url('../fonts/sdna/icomoon.svg?1il776#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}


.sdna-icon {
	display: inline-block;
	font-size: 0px;
	cursor: pointer;
	margin: 15px 0px;
	width: 90px;
	height: 90px;
	border-radius: 50%;
	text-align: center;
	position: relative;
	z-index: 1;
	color: $w;
}

.sdna-icon:after {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	content: '';
	-webkit-box-sizing: content-box; 
	-moz-box-sizing: content-box; 
	box-sizing: content-box;
}

.sdna-icon:before {
	font-family: 'icomoon';
	speak: none;
	font-size: 48px;
	line-height: 90px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	display: block;
	-webkit-font-smoothing: antialiased;
}

.icon-cost-saving:before {
	content: "\e611";
}

.icon-ecommerce:before {
	content: "\e612";
}

.icon-elearning:before {
	content: "\e613";
}

.icon-product_development:before {
	content: "\e614";
}

.icon-software_testing:before {
	content: "\e615";
}

.icon-web_app:before {
	content: "\e616";
}

.icon-analytics-icon:before {
	content: "\e60e";
}

.icon-digital-transform-icon:before {
	content: "\e60f";
}

.icon-social-it-icon:before {
	content: "\e610";
}

.icon-phone-icon:before {
	content: "\e60c";
}

.icon-email-icon:before {
	content: "\e60d";
}

.icon-time-icon:before {
	content: "\e606";
}

.icon-puzzle-icon:before {
	content: "\e607";
}

.icon-marker-icon:before {
	content: "\e608";
}

.icon-database-2-icon:before {
	content: "\e609";
}

.icon-bulb-icon:before {
	content: "\e60a";
}

.icon-badge-icon:before {
	content: "\e60b";
}

.icon-ux-icon:before {
	content: "\e600";
}

.icon-mobile_icon:before {
	content: "\e601";
}

.icon-group_icon:before {
	content: "\e602";
}

.icon-cloud-icon:before {
	content: "\e603";
}

.icon-database-icon:before {
	content: "\e604";
}

.icon-rocket-icon:before {
	content: "\e605";
}


/* Effect 1 */
.icon-ux-icon {
	background: $logo-blue;
	-webkit-transition: background 0.2s, color 0.2s;
	-moz-transition: background 0.2s, color 0.2s;
	transition: background 0.2s, color 0.2s;
}

.icon-mobile_icon {
	background: $red;
	-webkit-transition: background 0.2s, color 0.2s;
	-moz-transition: background 0.2s, color 0.2s;
	transition: background 0.2s, color 0.2s;
}

.icon-social-it-icon {
	background: $blue2;
	-webkit-transition: background 0.2s, color 0.2s;
	-moz-transition: background 0.2s, color 0.2s;
	transition: background 0.2s, color 0.2s;
}

.icon-cloud-icon {
	background: $orange;
	-webkit-transition: background 0.2s, color 0.2s;
	-moz-transition: background 0.2s, color 0.2s;
	transition: background 0.2s, color 0.2s;
}

.icon-analytics-icon {
	background: $wa;
	-webkit-transition: background 0.2s, color 0.2s;
	-moz-transition: background 0.2s, color 0.2s;
	transition: background 0.2s, color 0.2s;
}

.icon-digital-transform-icon {
	background: $brown;
	-webkit-transition: background 0.2s, color 0.2s;
	-moz-transition: background 0.2s, color 0.2s;
	transition: background 0.2s, color 0.2s;
}

.icon-web_app {
	background: $logo-blue;
	-webkit-transition: background 0.2s, color 0.2s;
	-moz-transition: background 0.2s, color 0.2s;
	transition: background 0.2s, color 0.2s;
}

.icon-ecommerce {
	background: $red;
	-webkit-transition: background 0.2s, color 0.2s;
	-moz-transition: background 0.2s, color 0.2s;
	transition: background 0.2s, color 0.2s;
}

.icon-elearning {
	background: $blue2;
	-webkit-transition: background 0.2s, color 0.2s;
	-moz-transition: background 0.2s, color 0.2s;
	transition: background 0.2s, color 0.2s;
}


.icon-group_icon {
	background: $orange;
	-webkit-transition: background 0.2s, color 0.2s;
	-moz-transition: background 0.2s, color 0.2s;
	transition: background 0.2s, color 0.2s;
}


.icon-software_testing {
	background: $wa;
	-webkit-transition: background 0.2s, color 0.2s;
	-moz-transition: background 0.2s, color 0.2s;
	transition: background 0.2s, color 0.2s;
}


.icon-product_development {
	background: $brown;
	-webkit-transition: background 0.2s, color 0.2s;
	-moz-transition: background 0.2s, color 0.2s;
	transition: background 0.2s, color 0.2s;
}


.icon-puzzle-icon {
	background: $logo-blue;
	-webkit-transition: background 0.2s, color 0.2s;
	-moz-transition: background 0.2s, color 0.2s;
	transition: background 0.2s, color 0.2s;
}




/* Effect */


.sdna-icon-effect .icon-ux-icon:after {
	top: -7px;
	left: -7px;
	padding: 7px;
	box-shadow: 0 0 0 4px $logo-blue;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	-webkit-transform: scale(.8);
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;
	-moz-transform: scale(.8);
	-ms-transform: scale(.8);
	transition: transform 0.2s, opacity 0.2s;
	transform: scale(.8);
	opacity: 0;
}


.sdna-icon-effect-round .icon-ux-icon:hover {
	background: $logo-blue;
	color: $w;
}

.sdna-icon-effect-round .icon-ux-icon:hover:after {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}


.sdna-icon-effect .icon-mobile_icon:after {
	top: -7px;
	left: -7px;
	padding: 7px;
	box-shadow: 0 0 0 4px $red;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	-webkit-transform: scale(.8);
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;
	-moz-transform: scale(.8);
	-ms-transform: scale(.8);
	transition: transform 0.2s, opacity 0.2s;
	transform: scale(.8);
	opacity: 0;
}



.sdna-icon-effect-round .icon-mobile_icon:hover {
	background: $red;
	color: $w;
}

.sdna-icon-effect-round .icon-mobile_icon:hover:after {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}





.sdna-icon-effect .icon-social-it-icon:after {
	top: -7px;
	left: -7px;
	padding: 7px;
	box-shadow: 0 0 0 4px $blue2;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	-webkit-transform: scale(.8);
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;
	-moz-transform: scale(.8);
	-ms-transform: scale(.8);
	transition: transform 0.2s, opacity 0.2s;
	transform: scale(.8);
	opacity: 0;
}



.sdna-icon-effect-round .icon-social-it-icon:hover {
	background: $blue2;
	color: $w;
}

.sdna-icon-effect-round .icon-social-it-icon:hover:after {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}




.sdna-icon-effect .icon-cloud-icon:after {
	top: -7px;
	left: -7px;
	padding: 7px;
	box-shadow: 0 0 0 4px $orange;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	-webkit-transform: scale(.8);
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;
	-moz-transform: scale(.8);
	-ms-transform: scale(.8);
	transition: transform 0.2s, opacity 0.2s;
	transform: scale(.8);
	opacity: 0;
}



.sdna-icon-effect-round .icon-cloud-icon:hover {
	background: $orange;
	color: $w;
}

.sdna-icon-effect-round .icon-cloud-icon:hover:after {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}






.sdna-icon-effect .icon-analytics-icon:after {
	top: -7px;
	left: -7px;
	padding: 7px;
	box-shadow: 0 0 0 4px $wa;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	-webkit-transform: scale(.8);
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;
	-moz-transform: scale(.8);
	-ms-transform: scale(.8);
	transition: transform 0.2s, opacity 0.2s;
	transform: scale(.8);
	opacity: 0;
}



.sdna-icon-effect-round .icon-analytics-icon:hover {
	background: $wa;
	color: $w;
}

.sdna-icon-effect-round .icon-analytics-icon:hover:after {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}




.sdna-icon-effect .icon-digital-transform-icon:after {
	top: -7px;
	left: -7px;
	padding: 7px;
	box-shadow: 0 0 0 4px $brown;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	-webkit-transform: scale(.8);
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;
	-moz-transform: scale(.8);
	-ms-transform: scale(.8);
	transition: transform 0.2s, opacity 0.2s;
	transform: scale(.8);
	opacity: 0;
}



.sdna-icon-effect-round .icon-digital-transform-icon:hover {
	background: $brown;
	color: $w;
}

.sdna-icon-effect-round .icon-digital-transform-icon:hover:after {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}


.sdna-icon-effect .icon-web_app:after {
	top: -7px;
	left: -7px;
	padding: 7px;
	box-shadow: 0 0 0 4px $logo-blue;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	-webkit-transform: scale(.8);
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;
	-moz-transform: scale(.8);
	-ms-transform: scale(.8);
	transition: transform 0.2s, opacity 0.2s;
	transform: scale(.8);
	opacity: 0;
}


.sdna-icon-effect-round .icon-web_app:hover {
	background: $logo-blue;
	color: $w;
}

.sdna-icon-effect-round .icon-web_app:hover:after {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}




.sdna-icon-effect .icon-ecommerce:after {
	top: -7px;
	left: -7px;
	padding: 7px;
	box-shadow: 0 0 0 4px $red;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	-webkit-transform: scale(.8);
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;
	-moz-transform: scale(.8);
	-ms-transform: scale(.8);
	transition: transform 0.2s, opacity 0.2s;
	transform: scale(.8);
	opacity: 0;
}


.sdna-icon-effect-round .icon-ecommerce:hover {
	background: $red;
	color: $w;
}

.sdna-icon-effect-round .icon-ecommerce:hover:after {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}





.sdna-icon-effect .icon-elearning:after {
	top: -7px;
	left: -7px;
	padding: 7px;
	box-shadow: 0 0 0 4px $blue2;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	-webkit-transform: scale(.8);
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;
	-moz-transform: scale(.8);
	-ms-transform: scale(.8);
	transition: transform 0.2s, opacity 0.2s;
	transform: scale(.8);
	opacity: 0;
}



.sdna-icon-effect-round .icon-elearning:hover {
	background: $blue2;
	color: $w;
}

.sdna-icon-effect-round .icon-elearning:hover:after {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}



.sdna-icon-effect .icon-group_icon:after {
	top: -7px;
	left: -7px;
	padding: 7px;
	box-shadow: 0 0 0 4px $orange;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	-webkit-transform: scale(.8);
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;
	-moz-transform: scale(.8);
	-ms-transform: scale(.8);
	transition: transform 0.2s, opacity 0.2s;
	transform: scale(.8);
	opacity: 0;
}



.sdna-icon-effect-round .icon-group_icon:hover {
	background: $orange;
	color: $w;
}

.sdna-icon-effect-round .icon-group_icon:hover:after {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}



.sdna-icon-effect .icon-software_testing:after {
	top: -7px;
	left: -7px;
	padding: 7px;
	box-shadow: 0 0 0 4px $wa;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	-webkit-transform: scale(.8);
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;
	-moz-transform: scale(.8);
	-ms-transform: scale(.8);
	transition: transform 0.2s, opacity 0.2s;
	transform: scale(.8);
	opacity: 0;
}



.sdna-icon-effect-round .icon-software_testing:hover {
	background: $wa;
	color: $w;
}

.sdna-icon-effect-round .icon-software_testing:hover:after {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}


.sdna-icon-effect .icon-product_development:after {
	top: -7px;
	left: -7px;
	padding: 7px;
	box-shadow: 0 0 0 4px $brown;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	-webkit-transform: scale(.8);
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;
	-moz-transform: scale(.8);
	-ms-transform: scale(.8);
	transition: transform 0.2s, opacity 0.2s;
	transform: scale(.8);
	opacity: 0;
}



.sdna-icon-effect-round .icon-product_development:hover {
	background: $brown;
	color: $w;
}

.sdna-icon-effect-round .icon-product_development:hover:after {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}


.sdna-icon-effect .icon-puzzle-icon:after {
	top: -7px;
	left: -7px;
	padding: 7px;
	box-shadow: 0 0 0 4px $logo-blue;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	-webkit-transform: scale(.8);
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;
	-moz-transform: scale(.8);
	-ms-transform: scale(.8);
	transition: transform 0.2s, opacity 0.2s;
	transform: scale(.8);
	opacity: 0;
}


.sdna-icon-effect-round .icon-puzzle-icon:hover {
	background: $logo-blue;
	color: $w;
}

.sdna-icon-effect-round .icon-puzzle-icon:hover:after {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}
















