#topheader {
	position: fixed;
	top:0;
	left:0;
	right:0;
	background: none;
	.top-bar {
		background: none;
	}
	.title-area {
		padding-top: 10px;
		padding-bottom: 15px;
		padding-left: 0;
		a {
			img {
				display: inline-block;
			}
		}
	}

	.top-bar-section {
		background: none;
		padding-top: 14px;

		ul {
			li {
				background: none;
				padding:0;
				a {
					background: none;
					font-family: 'Roboto', sans-serif;
					font-size: 1em;
					outline: 0;
					i {
						color: $w;
						margin-top: -2px;
						padding:10px 10px;
						font-size: 1.875em;
					}
				}
			}
		}
	}
}


.f-topbar-fixed {
	padding-top: 0px;
}


.panel {
	position: fixed;
	z-index: 5;
	right: -25.625em; /*left or right and the width of your navigation panel*/
	width: 25.625em; /*should match the above value*/
	border:none;
	background: #191919;
}



#menu {
	z-index: 99999;
	ul {
		li {
			list-style: none;	
			a {

				i {
					font-size: 1.875em;
					color: #c96b00;
					float: right;
				}

			}

		}
		.services-key {
			p {
				a {
					padding:10px 0;
					font-size: 1em;
					color: #6f6d6d;

					@extend .bfnt;
					@include transition(all .5s ease);
					&:hover {
						color: lighten(#c96b00, 15%);
					}
				}
			}
		}
	}
}


.panel {
	p {
		margin-bottom: 0;
	}
}



#top-header-small {
	background: $w;
	position: relative;
	padding:20px 0;
	.large-8.small-8.medium-8 {
		img {
			margin-top: 10px;
		}
	}
	.large-4.small-4.medium-4 {
		padding:0;
		margin:0;
		display: block;
		ul {
			li {
				a {
					padding:15px 25px;
					background: #191919;
					i {
						font-size: 1.25em;
						color: $w;
					}
				}
			}
		}
	}
}




















