#services-top-header {
	position: relative;
	background: url('../img/inner_header_services.jpg') no-repeat center;
	background-size: cover;
	padding:180px 0 120px 0;	
}


#services-top-header-2 {
	position: relative;
	background: url('../img/inner_header_services.jpg') no-repeat center;
	background-size: cover;
	padding:180px 0 120px 0;
	 
		a {
			color: $w;
			background: $blue2;
			padding:10px 15px;
			margin-top: -10px;
		}
	
}


#services-sdna-1 {
	position: relative;
	margin-top: 32px;
	.large-12.small-12.medium-12 {
		p {
			@extend .lfnt;
		}
	}
}

#services-sdna-2 {
	margin-top: 10px;
	position: relative;
	.row {
		padding-bottom: 5px;
		padding-top: 12px;
		border-bottom: 2px solid #f7f7f7;
	}

	.row-no {
		border-bottom: none;
	}

	.large-4.small-12.medium-12 {
		margin-bottom: 40px;
		margin-top: 40px;

		h5 {
			@extend .h5;
			color: $logo-blue;
		}
		p {
			@extend .bfnt;
			margin-bottom: 12px;
			padding-bottom: 8px;
		}
		.large-8.small-12.medium-8 {		
			.services-know {
				padding:10px 35px;
				background: $logo-blue;
				@extend .bfnt;
				color: $w;
				font-size: 1em;
				padding:6px 25px;
				border:2px solid $logo-blue;
				@include transition(all .5s ease);
				&:hover {
					background: rgba($logo-blue,0);
					box-shadow: inset 0 0 0 2px $logo-blue;
					color: $logo-blue;
					backface-visibility: hidden;
					transition-property: background;
				}
			}
			
		
			
			
		}
	}
}





#services-sdna-2b {
	@media only screen and (max-width: 40em) { 
		background-size: contain;
		height: 356px;
	}
	position: relative;
	background: #ffffff; /* Old browsers */
	background: url('../img/services-1.png')no-repeat center bottom; // fallback
	background: url('../img/services-1.png')no-repeat center bottom, -moz-linear-gradient(top,  #ffffff 0%, #f7f7f7 100%); /* FF3.6+ */
	background: url('../img/services-1.png')no-repeat center bottom, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f7f7f7)); /* Chrome,Safari4+ */
	background: url('../img/services-1.png')no-repeat center bottom, -webkit-linear-gradient(top,  #ffffff 0%,#f7f7f7 100%); /* Chrome10+,Safari5.1+ */
	background: url('../img/services-1.png')no-repeat center bottom, -o-linear-gradient(top,  #ffffff 0%,#f7f7f7 100%); /* Opera 11.10+ */
	background: url('../img/services-1.png')no-repeat center bottom, -ms-linear-gradient(top,  #ffffff 0%,#f7f7f7 100%); /* IE10+ */
	background: url('../img/services-1.png')no-repeat center bottom, linear-gradient(to bottom,  #ffffff 0%,#f7f7f7 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/services-1.png') progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f7f7',GradientType=0 ); /* IE6-9 */

	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/Controls/Calendar/Events/email.png') progid:DXImageTransform.Microsoft.gradient( startColorstr='#D9D9D9', endColorstr='#989898',GradientType=0 ); /* IE6-9 */


	margin-top: 20px;
	
	height: 356px;
	border-bottom: 2px solid #f7f7f7;
}



#services-sdna-tf {
	position: relative;
	.row {
		border-bottom: 2px solid #f7f7f7;
		padding-bottom: 20px;
	}
	h4 {
		text-align: center;
		margin:20px 0;
		@extend .h4;
		color: $logo-blue;
	}
	
}

#services-sdna-3 {
	position: relative;
	margin-top: 10px;
	padding-top: 20px;
	padding-bottom: 40px;
	margin-bottom: 20px;

	.large-4.small-12.medium-4 {
		h2 {
			@extend .h2;
			background: $blue2;
			color: $w;
			padding:8px 0;
			border-bottom: 8px solid darken($blue2, 5%);
			margin-bottom: 20px;
		}		
	}
	.large-3.small-6.medium-3 {
		margin-bottom: 20px;
		img {
		border:2px solid #f7f7f7;
	}
	}
}




/****UX Design****/

#sdna-ux-1a {
	margin-top: 26px;
}

#sdna-ux-1 {
	position: relative;
	margin-top: 30px;
	.large-4.small-12.medium-4 {
		padding-top: 20px;
	}
	.large-8.small-12.medium-8 {
		h2 {
			@extend .h2;
			color: $logo-blue;
			margin-bottom: 8px;
		}
		.services-title {
			@extend .lfnt;
			margin-bottom: 8px;
		}
		.services-n {
			@extend .bfnt;
			margin-bottom: 12px;
		}
	}
}

#sdna-ux-2 {
	position: relative;
	margin-top: 32px;
	.large-4.small-12.medium-4 {
		h2 {
			@extend .h2;
		}
		.services-title {
			@extend .lfnt;
			font-size: 1em;
		}
	}
	.large-8.small-12.medium-8 {
		.services-n {
			@extend .bfnt;
		}
	}
}


#sdna-ux-3 {
	position: relative;
	margin-top: 52px;
	.large-4.small-12.medium-4 {
		h2 {
			@extend .h2;
		}
		.services-title {
			@extend .lfnt;
			font-size: 1em;
		}
	}
	.large-8.small-12.medium-8 {
		.services-n {
			@extend .bfnt;
		}
	}
}


#sdna-ux-3c {
	position: relative;
	margin-top: 52px;
	.large-4.small-12.medium-4 {
		h2 {
			@extend .h2;
		}
		.services-title {
			@extend .lfnt;
			font-size: 1em;
		}
	}
	.large-8.small-12.medium-8 {
		.services-n {
			@extend .bfnt;
		}
	}
}



#sdna-ux-4 {
	position: relative;
	margin-top: 52px;
	background: $logo-blue;
	padding:50px 0;
	.large-4.small-6.medium-4 {
		h2 {
			@extend .h2;
			color: $w;
		}
		.services-title {
			@extend .lfnt;
			font-size: 1em;
		}
	}
	.large-8.small-6.medium-8 {
		p {
			@extend .lfnt;
			color: $w;
		}
	}
}


#sdna-ux-5 {
	position: relative;
	margin-top: 36px;
	margin-bottom: 50px;
	padding-bottom: 40px;
	h3 {
		@extend .h3;
		margin-bottom: 8px;
	}
	.services-title {
		@extend .lfnt;
		font-size: 1.625em;
		margin-bottom: 8px;
	}
	.services-n {
		@extend .bfnt;
		margin-bottom: 22px;
	}
	a {
		padding:10px 35px;
		background: $logo-blue;
		@extend .bfnt;
		color: $w;
		font-size: 1em;
		padding:6px 25px;
		border:2px solid $logo-blue;
		@include transition(all .5s ease);
		&:hover {
			background: rgba($logo-blue,0);
			box-shadow: inset 0 0 0 2px $logo-blue;
			color: $logo-blue;
			backface-visibility: hidden;
			transition-property: background;
		}
	}
}


/***********Mobile***********************/


#sdna-mobile-1a {
	position: relative;
	margin-top: 26px;
}

#sdna-mobile-1 {
	position: relative;
	.large-12.small-12.medium-12 {
		h2 {
			@extend .h2;
			color: $logo-blue;
		}
		.services-title {
			@extend .lfnt;
			margin-bottom: 8px;
		}
		.services-n {
			@extend .bfnt;
			margin-bottom: 12px;
		}
	}
}

#sdna-mobile-2 {
	position: relative;
	margin-top: 32px;
	background: url('../img/mobile-4.jpg') $w no-repeat bottom center;
}

#sdna-mobile-3 {
	position: relative;
	margin-top: 32px;
	.row {
		border-bottom: 2px solid #f7f7f7;
		padding-bottom: 26px;
	}
	.large-8.small-12.medium-8 {
		padding:40px 0;
		h2 {
			@extend .h2;
			color: $logo-blue;
			margin-bottom: 22px;
		}
		.services-n {
			@extend .bfnt;
		}
	}
}

#sdna-mobile-4 {
	position: relative;
	margin-top: 32px;
	.row {
		border-bottom: 2px solid #f7f7f7;
		padding-bottom: 26px;
	}
	.large-8.small-12.medium-8 {
		padding:40px 0;
		h2 {
			@extend .h2;
			color: $logo-blue;
			margin-bottom: 22px;
		}
		.services-n {
			@extend .bfnt;
		}
	}
}


#sdna-mobile-5 {
	position: relative;
	margin-bottom: 60px;
	.row {
		
		padding-bottom: 26px;
	}
	.large-8.small-12.medium-8 {
		padding:40px 0;
		h2 {
			@extend .h2;
			color: $logo-blue;
			margin-bottom: 22px;
		}
		.services-n {
			@extend .bfnt;
		}
	}
}


/************SOCIAL IT******************/

#sdna-social-1a {
	position: relative;
	margin-top: 26px;
}

#sdna-social-1 {
	position: relative;
	h2 {
		@extend .h2;
		color: $logo-blue;
	}
	.services-title {
		@extend .lfnt;
		margin-bottom: 8px;
	}
	.services-n {
		@extend .bfnt;
	}
}


#sdna-social-2 {
	position: relative;
	.large-6.small-12.medium-6 {
		h3 {
			@extend .h3;
			color: $logo-blue;
		}
		.services-n {
			@extend .bfnt;
		}
	}
	.social-n-p {
		padding-top: 62px;
	}
}

#sdna-social-3 {
	margin-top: 30px;
	position: relative;
	.large-12.small-12.medium-12 {
		.services-n {
			@extend .lfnt;
			font-size: 1.25em;
			text-align: justify;
		}
	}
}


#sdna-social-4 {
	margin-top: 30px;
	margin-bottom: 60px;
	position: relative;
	.large-6.small-12.medium-6 {
		img {
			margin-top: 22px;
		}
	}
	.large-6.small-12.medium-6 {
		h3 {
			@extend .h3;
			color: $logo-blue;
		}
		.services-n {
			@extend .bfnt;
			margin-bottom: 30px;
		}
	}
	.social-n-p {
		padding-top: 46px;
	}
}




//***************Cloud******************//



#sdna-cloud-1a {
	margin-top: 26px;
	position: relative;
}

#sdna-cloud-1 {
	position: relative;
	margin-top: 20px;
}


#sdna-cloud-2 {
	position: relative;
	.large-12.small-12.medium-12 {
		h2 {
			@extend .h2;
			color: $logo-blue;
		}
		.services-title {
			@extend .lfnt;
			margin-bottom: 8px;
		}
		.services-n {
			@extend .bfnt;
		}
	}
}


#sdna-cloud-3 {
	position: relative;
	margin-top: 46px;
	.large-4.small-12.medium-4 {
		margin-top: 26px;
	}
	.large-8.small-12.medium-8 {
		h3 {
			font-size: 1.25em;
		}
		.services-n {
			@extend .bfnt;
			margin-bottom: 30px;
		}
	}
}

#sdna-cloud-4 {
	position: relative;
	margin-bottom: 60px;
	margin-top: 42px;
	.large-4.small-12.medium-4 {
		margin-top: 16px;
	}
	.large-8.small-12.medium-8 {
		h3 {
			font-size: 1.25em;
		}
		.services-n {
			@extend .bfnt;
			margin-bottom: 30px;
		}
	}
}


/************Big Data*****************/

#sdna-big-data-1a {
	position: relative;
	margin-top: 26px;
}

#sdna-big-data-1 {
	position: relative;
	.large-12.small-12.medium-12 {
		h2 {
			@extend .h2;
			color: $logo-blue;
		}
		.services-title {
			@extend .lfnt;
		}
	}
}

#sdna-big-data-2 {
	margin-top: 50px;
	position: relative;
	.large-4.small-12.medium-4 {
		img {
			margin-top: 30px;
		}
	}
	.large-8.small-12.medium-8 {
		.services-n {
			@extend .bfnt;
			margin-bottom: 30px;
		}
	}
}

.sdna-big-data-border {
	position: relative;
	margin:20px 0;
}


#sdna-big-data-3 {
	position: relative;
	.large-12.small-12.medium-12 {
		h3 {
			@extend .h3;
		}
		.services-title {
			@extend .lfnt;
		}
		.services-n {
			@extend .bfnt;
			margin:10px 0;
		}
	}
}



#sdna-big-data-4 {
	position: relative;
	margin-bottom: 60px;
	.large-4.small-12.medium-4 {
		img {
			margin-top: 20px;
		}
	}
	.large-8.small-12.medium-8 {
		.services-title {
			@extend .lfnt;
		}
		.services-n {
			@extend .bfnt;
		}
	}
}





/************Digital Transformation*****************/

#sdna-dt-1a {
	margin-top: 26px;
	position: relative;
}

#sdna-dt-1 {
	margin-top: 30px;
	position: relative;
	.large-12.small-12.medium-12 {
		h2 {
			@extend .h2;
			color: $logo-blue;
		}
		.services-title {
			@extend .lfnt;
		}
	}
}

#sdna-dt-2 {
	position: relative;
	margin-top: 20px;
	margin-bottom: 120px;
	.services-n {
		@extend .bfnt;
		margin:30px 0;
	}
}


/**************Web Development******************/


#sdna-wad-1 {
	position: relative;
	margin-top: 30px;
	.large-12.small-12.medium-12 {
		h2 {
			@extend .h2;
			color: $logo-blue;
		}
		.services-title {
			@extend .lfnt;
		}
	}
}

#sdna-wad-2 {
	position: relative;
	margin-top: 20px;
	margin-bottom: 20px;
	.large-6.small-12.medium-6 {
		.services-n {
			@extend .bfnt;
			padding:40px 0 0 0;
		}
	}

}

#sdna-wad-3 {
	position: relative;
	margin-bottom: 20px;
	.large-12.small-12.medium-12 {
		.services-n {
			@extend .bfnt;
		}
	}
}

#sdna-wad-4 {
	position: relative;
	.large-6.medium-6.small-12 {
		img {
			margin-top: 20px;
		}
		.services-n {
			margin-top: 40px;
			@extend .bfnt;
		}

	}
}

#sdna-wad-5 {
	position: relative;
	margin:30px 0 120px 0;
	.large-12.medium-12.small-12 {
		.services-title {
			@extend .lfnt;
			text-align: center;
			font-size: 1.125em;
		}
		a {
			padding:10px 35px;
			background: $logo-blue;
			@extend .bfnt;
			color: $w;
			font-size: 1em;
			padding:6px 25px;
			border:2px solid $logo-blue;
			@include transition(all .5s ease);
			&:hover {
				background: rgba($logo-blue,0);
				box-shadow: inset 0 0 0 2px $logo-blue;
				color: $logo-blue;
				backface-visibility: hidden;
				transition-property: background;
			}

		}
	}
}




/*******************eCommerce development**************/



#sdna-ecd-1 {
	position: relative;
	margin-top: 30px;
	.large-12.small-12.medium-12 {
		h2 {
			@extend .h2;
			color: $logo-blue;
		}
		.services-title {
			@extend .lfnt;
		}
	}
}


#sdna-ecd-2 {
	margin-top: 30px;
	position: relative;
	.large-4.small-12.medium-4 {
		img {
			margin-top: 36px;
		}
	}
	.large-8.small-12.medium-8 {
		.services-n {
			margin:30px 0;
			@extend .bfnt;
		}
	}
}




#sdna-ecd-4 {
	margin-top: 40px;
	position: relative;
	.large-2.small-3.medium-2 {
		.ecd-box {
			background: $wa;
			padding:45px 0;
			height: 175px;
			@include transition(all .5s ease);
			&:hover {
				background: darken($wa,5%);
			}
			.services-n {
				font-size: 0.875em;
				@extend .bfnt;
				color: $w;
				padding-top: 8px;
			}
		}
	}
}



#sdna-ecd-5 {
	position: relative;
	margin:20px 0;
	padding-bottom: 60px;
	.large-6.small-12.medium-6 {
		img {
			width: 65%;
		}
		.services-n {
			@extend .bfnt;
			padding-top: 50px;
		}
	}
}



/************elearning**************/



#sdna-el-1 {
	position: relative;
	margin-top: 30px;
	.large-12.small-12.medium-12 {
		h2 {
			@extend .h2;
			color: $logo-blue;
		}
		.services-title {
			@extend .lfnt;
		}
	}
}

#sdna-el-2 {
	position: relative;
	margin:30px 0;
	.services-n {
		@extend .bfnt;
	}
}

#sdna-el-3 {
	position: relative;
	padding-top: 30px;
	.large-8.small-12.medium-8 {
		padding-top: 32px;
		.services-title {
			@extend .lfnt;
		}
		.services-n {
			@extend .bfnt;
			margin:12px 0;
		}
	}
}


#sdna-el-4 {
	position: relative;
	padding-top: 30px;
	.large-6.small-12.medium-6 {
		padding-top: 32px;
		.services-title {
			@extend .lfnt;
		}
		.services-n {
			@extend .bfnt;
			margin:12px 0;
		}
	}
}


#sdna-el-5 {
	position: relative;
	padding-top: 30px;
	padding-bottom: 60px;
	margin-bottom: 160px;
	.large-8.small-12.medium-8 {
		padding-top: 32px;
		.services-title {
			@extend .lfnt;
		}
		.services-n {
			@extend .bfnt;
			margin:12px 0;
		}
	}
}



/*****************social media marketing*********/



#sdna-smm-1 {
	position: relative;
	margin-top: 30px;
	.large-12.small-12.medium-12 {
		h2 {
			@extend .h2;
			color: $logo-blue;
		}
		.services-title {
			@extend .lfnt;
		}
	}
}



#sdna-smm-2 {
	position: relative;
	margin-top: 30px;
	.large-12.small-12.medium-12 {
		.services-n {
			@extend .bfnt;
			margin:20px 0;
		}
	}
}


#sdna-smm-3 {
	position: relative;
	padding-top: 30px;
	.large-4.small-12.medium-4 {
		img {
			margin-top: 10px;
		}
	}
	.large-8.small-12.medium-8 {
		padding-top: 8px;
		.services-title {
			@extend .lfnt;
		}
		.services-n {
			@extend .bfnt;
			margin:12px 0;
		}
	}
}


#sdna-smm-4 {
	position: relative;
	padding-top: 30px;
	.large-8.small-12.medium-8 {
		padding-top: 32px;
		.services-title {
			@extend .lfnt;
		}
		.services-n {
			@extend .bfnt;
			margin:12px 0;
		}
	}
	.large-4.small-12.medium-4 {
		margin-top: 40px;
	}
}


#sdna-smm-5 {
	position: relative;
	padding-top: 30px;
	.large-6.small-12.medium-6 {
		padding-top: 32px;
		.services-title {
			@extend .lfnt;
		}
		.services-n {
			@extend .bfnt;
			margin:12px 0;
		}
	}
}



/****************software testing*******************/


#sdna-sts-1 {
	position: relative;
	margin-top: 30px;
	.large-12.small-12.medium-12 {
		h2 {
			@extend .h2;
			color: $logo-blue;
		}
		.services-title {
			@extend .lfnt;
		}
	}
}




#sdna-sts-2 {
	position: relative;
	padding-top: 30px;
	.large-4.small-12.medium-4 {
		img {
			margin-top: 10px;
		}
	}
	.large-8.small-12.medium-8 {
		padding-top: 8px;
		.services-title {
			@extend .lfnt;
		}
		.services-n {
			@extend .bfnt;
			margin:12px 0;
		}
	}
}



#sdna-sts-3 {
	position: relative;
	padding-top: 30px;
	margin-bottom: 80px;
	.large-4.small-12.medium-4 {
		img {
			margin-top: 10px;
		}
	}
	.large-8.small-12.medium-8 {
		padding-top: 8px;
		.services-title {
			@extend .lfnt;
		}
		.services-n {
			@extend .bfnt;
			margin:12px 0;
		}
	}
}



/**************************Product Development******************/

#sdna-pdt-1 {
	position: relative;
	margin-top: 30px;
	.large-12.small-12.medium-12 {
		h2 {
			@extend .h2;
			color: $logo-blue;
		}
		.services-title {
			@extend .lfnt;
		}
	}
}




#sdna-pdt-2 {
	position: relative;
	padding-top: 30px;
	.large-4.small-12.medium-4 {
		img {
			margin-top: 10px;
		}
	}
	.large-12.small-12.medium-12 {
		padding-top: 8px;
		.services-title {
			@extend .lfnt;
		}
		.services-n {
			@extend .bfnt;
			margin:12px 0;
		}
	}
}




#sdna-pdt-3 {
	position: relative;
	padding-top: 30px;
	margin-bottom: 80px;
	.large-4.small-12.medium-4 {
		img {
			margin-top: 10px;
		}
	}
	.large-8.small-12.medium-8 {
		padding-top: 8px;
		.services-title {
			@extend .lfnt;
		}
		.services-n {
			@extend .bfnt;
			margin:12px 0;
		}
	}
}




/********************psd************/



#sdna-psd-1 {
	position: relative;
	margin-top: 30px;
	.large-12.small-12.medium-12 {
		h2 {
			@extend .h2;
			color: $logo-blue;
		}
		.services-title {
			@extend .lfnt;
		}
	}
}




#sdna-psd-2 {
	position: relative;
	margin-top: 30px;
	margin-bottom: 200px;
	.large-8.small-12.medium-8 {
		padding-top: 60px;
		.services-n {
			@extend .bfnt;
		}
	}
}



.breadcrumbs {
	background: none;
	padding:0;
	border: none;
	li {
		a {
			color: $logo-blue;
			&:hover {
				color: darken($logo-blue,5%);
			}
		}
	}
}
























