#menu {
	overflow-x: auto;
	.sdna-sidebar {
		padding-top: 5px;
		.menu-shift {			
			
			i {
				font-size:1.375em;
			}
		}

		.sdna-bottom-border {
			border-bottom: 4px solid $orange;
			width: 100px;
			margin-top: 12px;
			margin-bottom: 12px;
		}

		li {					
			a {
				@extend .bfnt;
				color: $w;
				font-size: 500;
			}
		}
		
		.social-sidebar {
			margin-top: 8px;
			li {
				a {
					i {
						color: $w;
						font-size: 22px;
					}
				}
			}
		}
	}
}